@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --color-red: #bf2e34;
    --color-pink: #c7365f;
    --color-violet: #753682;
    --color-dark-grey-1: #333;
    --color-dark-grey-2: #2f2f2f;
    --color-light-grey-1: #444;
    --color-light-grey-2: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, var(--color-violet), var(--color-red));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LAYOUT */

main {
    display: flex;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, .35);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9rem;
    flex-basis: 50%;
}

.player-active {
    background-color: rgba(255, 255, 255, .4)
}

.player--active .name {
    font-weight: 700;
}

.name {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 300;
}

.score-0,
.score-1 {
    font-size: 8rem;
    color: var(--color-pink);
    margin-bottom: 12rem;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    padding: 2rem;
    background-color: var(--color-pink);
    color: var(--color-light-grey-2);
    border-radius: 1rem;
}

.current-label {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.current-score-0,
.current-score-1{
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-light-grey-1);
    font-family: inherit;
    font-weight: 400;
    padding: .7rem 2.5rem;
    border-radius: 50rem;
    border: none;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 1.75rem 3rem rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: all .3s
}

.btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

}

.btn-new {
    top: 4rem;
}

.dice {
    position: absolute;
    height: 10rem;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
}

.btn-roll {
    top: 39rem;
}

.btn-hold {
    top: 46rem;
}

.player-winner {
    background-color: var(--color-dark-grey-2);
}

.player-winner .name {
    font-weight: 700;
    color: var(--color-pink);
}

.hidden {
    display: none;
}

